@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}
h1{
  font-size: 44px ;
  font-weight: 700;
}

h2{
  font-size: 34px;
  font-weight: 700;
}
@media (min-width:1025px){
  .container {
      max-width: 1200px;
  }
}

@media (max-width:1024px){
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 28px;
  }
}

@media (max-width:767px){
  .container {
      padding: 0 24px;
  }
  
}