.singleBlog {
    .topBlog {
        margin-bottom: 60px;

        .logo {
            display: flex;
            align-items: center;
            margin-bottom: 25px;

            @media (max-width:767px) {
                display: block;
                text-align: center;
            }

            .titleEsim {
                font-weight: 600;
                margin-left: 25px;

                @media (max-width:767px) {
                    margin: 30px 0 0 0;
                }
            }
        }

        .blogDescription {
            display: flex;
            align-items: center;

            @media (max-width:767px) {
                display: block;
            }

            .description {
                flex: 1;
                color: #222;
                font-size: 16px;
                font-weight: 400;

                @media (max-width:767px) {
                    margin-bottom: 30px;
                }
            }

            .linkWeb {
                margin-left: 200px;

                @media (max-width:767px) {
                    margin-left: 0px;
                }

                a {
                    border-radius: 16px;
                    background: linear-gradient(90deg, #08A212 0%, #65EC14 100%);
                    display: flex;
                    padding: 15px 31px;
                    justify-content: center;
                    align-items: center;
                    min-width: 280px;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 500;

                    svg {
                        margin-left: 6px;
                    }
                }
            }
        }
    }

    .bottomBlog {
        .name {
            color: #22223C;
            font-size: 34px;
            font-style: normal;
            margin-bottom: 40px;
        }

        
        .singleEsim,
        .multipleEsim{
            .optionEsimok {
                color: #000;
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .listSingleBlog {
                grid-template-columns: repeat(2, 1fr);
                display: grid;
                grid-column-gap: 29px;
                grid-row-gap: 24px;
                margin-bottom: 60px;

                @media (max-width:767px) {
                    grid-template-columns: repeat(1, 1fr);
                    margin-bottom: 30px;
                }

                .itemEsim {
                    border-radius: 8px;
                    border: 1px solid #F0F0F0;
                    background: #FFF;

                    .itemEsimInfo {
                        padding: 20px 20px 16px 20px;

                        .countryName {
                            color: #000;
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 20px;
                        }

                        .dataEsim {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;

                            .price,
                            .data {
                                color: #1f1f1f;
                                font-size: 24px;
                                font-weight: 700;
                            }

                        }

                        .infoOoption {
                            color: #000;
                            font-size: 18px;
                            font-weight: 500;
                            margin-bottom: 40px;
                        }
                    }

                    .listUseEsim {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-top:1px solid #F0F0F0;
                        padding: 16px 20px 20px 20px;
                        @media (max-width:767px) {
                            display: block;
                        }

                        .listServicesEsim {
                            ul {
                                display: flex;
                                align-items: center;

                                li {
                                    margin-right: 10px;
                                    border-radius: 8px;
                                    background: #D9F7BE;
                                    color: #434343;
                                    font-size: 16px;
                                    font-weight: 500;
                                    padding: 9px 10px;
                                }
                            }

                            @media (max-width:767px) {
                                margin-bottom: 30px;
                            }
                        }

                        .plan {
                            button,
                            .planDetails {
                                color: #52C41A;
                                font-size: 16px;
                                font-weight: 500;
                                border-radius: 32px;
                                border: 1px solid #52C41A;
                                background-color: #fff;
                                padding: 8px 20px;
                                transition: 0.3s;
                                -webkit-transition: 0.3s;
                                @media (max-width:767px) {
                                    display: block;
                                    width: 100%;
                                }
                            }
                            button:focus,
                            .planDetails:focus {
                                box-shadow: unset;
                            }
                            &:hover  button,
                            &:hover .planDetails {
                                color: #fff;
                                background-color: #52C41A;
                            }
                        }
                    }
                }
            }
        }

    }
}
